<p>personal-form works!</p>
<div style="display: flex; justify-content: center;margin-top: 20px;">
<form>
  <div>
    <input placeholder="Enter Name" name="name">
  </div>
  <div>
    <input placeholder="Enter Email" name="email">
  </div>
  <div>
    <div>
      <input placeholder="Enter city" name="cityName">
    </div>
    <div>
      <input placeholder="Enter state name" name="stateName">
    </div>
    <div>
      <input placeholder="Enter street name" name="streetName">
    </div>
    <div>
      <input placeholder="Enter landmark" name="landmark">
    </div>
  </div>
</form>
</div>
