<h1>Template form</h1>
<!-- <form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
  <input type="text" ngModel name="user" id="user_id" placeholder="Enter user name" /><br><br>
  <input type="text" ngModel name="email" id="email_id" placeholder="Enter email" /><br><br>
<button>Register</button>
</form> -->

<!-- <form [formGroup]="loginForm" (ngSubmit)="login()">
  <input type="text"  name="username" placeholder="Enter user name" formControlName="username" /><br><br>
  <input type="text"  name="password" placeholder="Enter email"  formControlName="password"/><br><br>
<button>Register</button>
</form> -->




<p>
<router-outlet></router-outlet>
</p>
